body{
    width: 100%;
    margin: auto;
}
.maincontent{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
}

.myphoto{
    width: 50%;
    float: left;
}

#me{
    width: 50em;
    height: 90%;
}

#bio{
    font-size: 35px;
}


#mybio p{
    font-family: Baskerville;
    font-size: 22px;
    padding-top: 5%;
}