body{
    width: 100%;
    margin: auto;
}
.maincontent{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
}

.myphoto{
    width: 50%;
    float: left;
}

#me{
    width: 50em;
    height: 50%;
}

#bio{
    font-size: 35px;
}

#mybio{
    width: 50%;
    height: 50%;
    float: left;
    padding-top: 50px;
    padding-right: 3em;
    padding-left: 3em;
}
#mybio p{
    font-family: Baskerville;
    font-size: 25px;
    padding-top: 1.5em;
}