@font-face{
    font-family: roboto-light;
    src: url(../fonts/roboto/Roboto-Light.ttf);
}

@font-face{
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf)
}
body{
    width: 100%;
    margin: auto;
}
.maincontent{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
}

.myphoto{
    width: 50%;
    float: left;
}

#me{
    width: 50em;
    height: 90%;
    border-radius: 2%;
}

#bio{
    font-size: 35px;
}


#mybio p{
    font-family: roboto-light;
    font-size: 22px;
    padding-top: 5%;
}