@font-face{
    font-family: Avenir;
    src: url(avenir/AvenirLTStd-Book.otf);
}

@font-face{
    font-family: Avenir-Med;
    src: url(avenir/AvenirLTStd-Roman.otf);
}

@font-face{
    font-family: Avenir-Bold;
    src: url(avenir/AvenirLTStd-Black.otf);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
}

:root{
    --main-black: #2E2E2E;
    --main-blue: #0697F2;
    --sec-blue: #BFE6FF;
    --main-gray: #C1C1C1;
    --sec-gray: #F7F7F7;
}

html{
    font-family: Avenir, sans-serif;

}

html, body{
    width: 100%;
    height: 100%;
}
h1{
    margin-left: 10%;
    font-family: Avenir-Bold;
    font-size: 40px;
    margin-bottom: 15px;
}

h2{
    margin-left: 10%;
    font-family: Avenir-Med;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

h3{
    padding: 0 10%;
    font-family: Avenir;
    font-weight: 200;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 50px;
}
p{
    font-size: 17px;
    color: var(--main-gray);
}

a{
    font-size: 17px;
    color: var(--main-black);
    text-decoration: none;
}

/*  NAV*/
nav{
    position: absolute;
    top: 25px;
    /* left: 5%; */
    line-height: 50px;
    width: 100%;
}

.name{
    margin-left: 5%;
}

nav a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--main-black);
}

.right-nav{
    position: absolute;
    right: 5%;
    top: 5px;
}

.right-nav a:first-child{
    font-family: 'Montserrat';
    color: var(--main-blue);
    margin-right: 60px;
}

#menu{
    display: flex;
    width: 100%;
    /* height: 80%; */
    height: 0;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

#menu .items{
    margin-bottom: 10%;
    /* margin: 2%; */
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
}

#top-name{
    display: none;
}

/* CONTENT */

.top-banner{
    margin-top: 5%;
}
.banner-top{
    width: 100%;
}

.wrapper-content{
    width: 60%;
    margin: 0 auto;
    margin-bottom:10%;
    margin-top: 10%;
    /* text-align: center; */
}

.work-1, .work-2, .work-3, .ill-1, .ill-2{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.work1-wrapper{
    background-color: #9A9ED8;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 83%;
    padding: 20vw 5vw;
}

.mobile-1{
    position: absolute;
    width: 20%;
    height: auto;
    left: 5%;
    top: 12%;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
    -moz-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
    box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
  

}

.web-1{
    width: 60%;
    height: auto;
    position: absolute;
    right: 5%;
    top: 20%;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
    -moz-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
    box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);

}

.work2-wrapper{
    position: relative;
    width: 100%;
    background-color: rgb(233, 194, 143);
    padding: 15vw 0.1vw;
}

.web-2{
    position: absolute;
    width: 60%;
    height: auto;
    top: 15%;
    left: 18%;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
    -moz-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
    box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
}

.work3-wrapper{
    position: relative;
    width: 100%;
    background-color: rgb(255, 155, 155);
    padding: 15vw 0.1vw;
}

.web-3{
    position: absolute;
    width: 60%;
    height: auto;
    left: 19%;
    top: 15%;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
    -moz-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
    box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
}

.work4-wrapper{
    position: relative;
    width: 100%;
    background-color: rgb(177, 224, 255);
    padding: 15vw 0.1vw;
}

.web-4{
    position: absolute;
    width: 60%;
    height: auto;
    left: 19%;
    top: 15%;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
    -moz-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
    box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
}

.ill1-wrapper{
    position: relative;
    width: 100%;
    background-color: rgb(212, 142, 181);
    padding: 15vw 0.1vw;
    
}

.flame, .watermelon{
    position: absolute;
    width: 70%;
    height: auto;
    top: 11%;
    left: 14%;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
    -moz-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
    box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.8);
}

.ill2-wrapper{
    position: relative;
    width: 100%;
    background-color: rgb(159, 216, 181);
    padding: 15vw 0.1vw;
}

.description{
    margin-top: 5%;
    margin-bottom: 15%;
}

/* FOOTER */
footer{
    position: fixed;
    bottom: 50px;
    right: 5%;
}

.social{
    position: fixed;
    left: 5%;
}

.social > a{
    margin-right: 60px;
}

footer > p, .social > a {
    font-weight: 500;
}


/*RESPONSIVE*/

@media only screen and (max-width: 500px){

    body, html{
        margin: 0;
        padding: 0;
        /* width: 100%; */
        /* height: 100%; */
        /* overflow-x: hidden; */
    }

    nav{
        visibility: hidden;
    }

    .mobile-nav{
        margin-bottom: 10%;
    }
    #hamburger{
        position: absolute;
        right: 5%;
        top: 3%;
    }

    #top-name{
            position: absolute;
            top: 4%;
            left: 5%;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            color: var(--main-black);
        }

    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        background-color: rgb(19, 19, 19);
        margin: 6px 0;
        transition: 0.4s;
      }
      
      /* Rotate first bar */
       .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 2px) ;
        transform: rotate(-45deg) translate(-5px, 2px) ;
      } 
      
      /* Fade out the second bar */
       .change .bar2 {
        opacity: 0;
      }
      
      /* Rotate last bar */
       .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-10px, -8px) ;
        transform: rotate(45deg) translate(-10px, -8px) ;
      }


      footer{
        display: none;
    }

    .mobile-footer{
        display: flex;
        flex-direction: row;
        margin-top: 20%;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }

    .wrapper-content{
        width: 90%;
    }

    .work1-wrapper{
        width: 90%;
        padding: 25vw 5vw;
    }

    .work2-wrapper, .work3-wrapper, .ill1-wrapper, .ill2-wrapper{
        padding: 25vw 0.1vw;
    }
}