/* GLOBAL */
@font-face{
    font-family: Avenir;
    src: url(avenir/AvenirLTStd-Book.otf);
}

@font-face{
    font-family: Avenir-Med;
    src: url(avenir/AvenirLTStd-Roman.otf);
}

@font-face{
    font-family: Avenir-Bold;
    src: url(avenir/AvenirLTStd-Black.otf);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
}

:root{
    --main-black: #2E2E2E;
    --main-blue: #0697F2;
    --sec-blue: #BFE6FF;
    --main-gray: #C1C1C1;
    --sec-gray: #F7F7F7;
}

html{
    font-family: Avenir, sans-serif;

}

html, body{
    width: 100%;
    height: 100%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 47px;
    font-weight: 600;
    color: var(--main-black);
}

h2{
    font-family: Avenir-Med, sans-serif;
    font-size: 40px;
    color: var(--main-black);
}

h3{
    font-family: Avenir-Med, sans-serif;
    font-size: 25px;
    color: var(--main-black);
}

h4{
  font-family: Avenir, sans-serif;
  font-size: 15px;
  color: var(--main-black);  
}

p{
    font-size: 17px;
    color: var(--main-gray);
}

a{
    font-size: 17px;
    color: var(--main-black);
    text-decoration: none;
}

.wrapper-content{
    width: 70%;
    margin: 0 auto;
}

#blue{
    color: var(--main-blue);
}

/* NAV */

#name{
    display: none;
}
nav{
    position: absolute;
    top: 25px;
    /* left: 5%; */
    line-height: 50px;
    width: 100%;
}

.name{
    margin-left: 5%;
}

nav a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--main-black);
}

.right-nav{
    position: absolute;
    right: 5%;
    top: 5px;
}

.right-nav a:first-child{
    font-family: 'Montserrat';
    color: var(--main-blue);
    margin-right: 60px;
}

#menu{
    display: flex;
    width: 100%;
    /* height: 80%; */
    height: 0;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

#menu .items{
    margin-bottom: 10%;
    /* margin: 2%; */
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
}



/* CONTENT */

.sum{
    display: none;
}

.landing, .work-section{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
}

.skills{
    display: flex;
    flex-direction: row;
}

.skills-box{
    background-color: white;
    margin: 80px 30px;
    text-align: center;
    width: 350px;
    height: 120px;
    line-height: 120px;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
    -moz-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
    box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
}

.view-work{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.drop-arrow{
    width: 34px;
    height: 12px;
}

.work-section{
    display: flex;
    flex-direction: column;

}
.rec-dark-1{
    background-color: var(--main-blue);
    height: 335px;
    width: 335px;
    position: absolute;
    top: 1000px;
    left: 261px;
    z-index: -1;
}

.rec-light-1{
    background-color: var(--sec-blue);
    height: 335px;
    width: 335px;
    position: absolute;
    top: 1025px;
    left: 200px;
    z-index: -2; 
}
.fflogo{
    position: absolute;
    left: 320px;
    top: 1075px;
}

.work-1{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-left: 35%;
    margin-top: 2%;
}



#gray-text{
    color: var(--main-gray);
}
.view{
    margin-top: 140px;
}

.venmo{
    width: 130px;
    height: 130px;
    position: absolute;
    right: 360px;
    top: 1675px;
}
.rec-dark-2{
    background-color: var(--main-blue);
    height: 335px;
    width: 335px;
    position: absolute;
    top: 1550px;
    right: 200px;
    z-index: -2;
}

.rec-light-2{
    background-color: var(--sec-blue);
    height: 335px;
    width: 335px;
    position: absolute;
    top: 1575px;
    right: 261px;
    z-index: -1; 
}


.work-2{
    text-align: right;
    margin-right: 380px;
    margin-top: 265px;
}

.mandoline{
    width: 230px;
    height: 230px;
    position: absolute;
    left: 330px;
    top: 2150px;
}

.work-3{
    text-align: left;
    margin-left: 380px;
    margin-top: 215px;
}

.rec-dark-3{
    background-color: var(--main-blue);
    height: 335px;
    width: 335px;
    position: absolute;
    top: 2100px;
    left: 261px;
    z-index: -1;
}

.rec-light-3{
    background-color: var(--sec-blue);
    height: 335px;
    width: 335px;
    position: absolute;
    top: 2075px;
    left: 200px;
    z-index: -2; 
}




.photography{
    width: 215px;
    height: 128px;
    position: absolute;
    right: 320px;
    top: 2750px;
}

.work-4{
    text-align: right;
    margin-right: 380px;
    margin-top: 250px;
}

.rec-dark-4{
    background-color: var(--main-blue);
    height: 335px;
    width: 335px;
    position: absolute;
    top: 2600px;
    right: 200px;
    z-index: -2;
}

.rec-light-4{
    background-color: var(--sec-blue);
    height: 335px;
    width: 335px;
    position: absolute;
    top: 2625px;
    right: 261px;
    z-index: -1; 
}
/* BACKGROUND LINES */

/* FOOTER */
footer{
    position: fixed;
    bottom: 50px;
    right: 5%;
}

.social{
    position: fixed;
    left: 5%;
}

.social > a{
    margin-right: 60px;
}

footer > p, .social > a {
    font-weight: 500;
}
/* MOTION */

.delay-1{
    animation-delay: 0.3s;
}

.delay-2{
    animation-delay: 0.6s;
}

.delay-3{
    animation-delay: 0.9s;
}

.delay-4{
    animation-delay: 1.5s;
}















@media only screen and (max-width: 500px){
   
    body, html{
        margin: 0;
        padding: 0;
    }

    nav{
        visibility: hidden;
    }

    #hamburger{
        position: absolute;
        right: 5%;
        top: 3%;
    }

    #name{
            position: absolute;
            top: 4%;
            left: 5%;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            color: var(--main-black);
        }

    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        background-color: rgb(19, 19, 19);
        margin: 6px 0;
        transition: 0.4s;
      }
      
      /* Rotate first bar */
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 2px) ;
        transform: rotate(-45deg) translate(-5px, 2px) ;
      }
      
      /* Fade out the second bar */
      .change .bar2 {
        opacity: 0;
      }
      
      /* Rotate last bar */
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-10px, -8px) ;
        transform: rotate(45deg) translate(-10px, -8px) ;
      }

      .wrapper-content{
        width: 90%;
        margin: 0 auto;
    }

    .landing{
        margin-top: 100px;
    }

    .skills{
        display: flex;
        flex-direction: row;
    }
    
    .skills-box{
        background-color: white;
        margin: 30px 5px;
        text-align: center;
        width: 50%;
        height: 80px;
        line-height: 20px;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
        -moz-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
        box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
    }

    .skills-box h3{
        margin-top: 20%;
    }
    
    .drop-arrow{
        margin-top: 2%;
        width: 30px;
        height: 8px;
    }

   .work-section{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    } 

    .rec-dark-1{
        background-color: var(--main-blue);
        height: 35%;
        width: 100%;
        position: absolute; 
        top: 550px;
        left: 0;
        z-index: -2;
    }
    
    .rec-light-1{
        background-color: var(--sec-blue);
        height: 29%;
        width: 90%;
        position: absolute;
        top: 575px;
        left: 5%;
        z-index: -1; 
        -webkit-box-shadow: 0px 5px 20px 0px rgba(36, 36, 36, 0.288);
    -moz-box-shadow: 0px 5px 20px 0px rgba(36, 36, 36, 0.288);;
    box-shadow: 0px 5px 20px 0px rgba(36, 36, 36, 0.288);;
    }
    
    .fflogo{
        position: relative; 
        /* left: 33%; */
        /* top: 90%; */
        width: 35%;
        height: auto;
    }
    
    .work-1{
        margin: 0 auto;
        text-align: left;
        /* width: 100%; */
        /* height: 50%; */

    }  

    .title, .view{
        display: none;
    }

    .work-1 .sum{
        display: block;
        margin-top: 95%;
    }

    .work-1 .sum h1{
        margin: 5% auto;
    }


    
    #gray-text{
        color: var(--main-gray);
    }
    .view{
        margin-top: 140px;
    }

    .venmo{
        width: 30%;
        height: auto;
        position: absolute;
        right: 35%;
        top: 133%;
    }
    .rec-dark-2{
        background-color: var(--main-blue);
        height: 29%;
        width: 90%;
        position: absolute; 
        top: 1025px;
        left: 5%;
        z-index: -1;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(36, 36, 36, 0.288);
        -moz-box-shadow: 0px 5px 20px 0px rgba(36, 36, 36, 0.288);;
        box-shadow: 0px 5px 20px 0px rgba(36, 36, 36, 0.288);;
    }
    
    .rec-light-2{
        background-color: var(--sec-blue);
        height: 35%;
        width: 100%;
        position: absolute;
        top: 1000px;
        left: 0;
        z-index: -2; 
 
    }    
    .work-2 .sum{
        display: block;
        margin-top: 112%;
    }

    .work-2 .sum h1{
        margin: 5% auto;
    } 
    
    .work-2{
        text-align: left;
        margin: 0 auto;
    }
    
    .mandoline{
        width: 45%;
        height: auto;
        position: absolute;
        left: 30%;
        top: 185%;
    }
    
    .rec-dark-3{
        background-color: var(--main-blue);
        height: 35%;
        width: 100%;
        position: absolute; 
        top: 1450px;
        left: 0;
        z-index: -2;
    }
    
    .rec-light-3{
        background-color: var(--sec-blue);
        height: 29%;
        width: 90%;
        position: absolute;
        top: 1475px;
        left: 5%;
        z-index: -1; 
        -webkit-box-shadow: 0px 5px 20px 0px rgba(36, 36, 36, 0.288);
    -moz-box-shadow: 0px 5px 20px 0px rgba(36, 36, 36, 0.288);;
    box-shadow: 0px 5px 20px 0px rgba(36, 36, 36, 0.288);;
    }
    
    .work-3 .sum{
        display: block;
        margin-top: 112%;
    }

    .work-3 .sum h1{
        margin: 5% auto;
    } 
    
    .work-3{
        text-align: left;
        margin: 0 auto;
    }
    
    
    .photography{
        width: 40%;
        height: auto;
        position: absolute;
        right: 30%;
        top: 245%;
    }
    
    .work-4{
        margin: 0 auto;
        text-align: left;
        padding-bottom: 20%;
    }

    .work-4 .sum{
        display: block;
        margin-top: 112%;
    }

    .work-4 .sum h1{
        margin: 5% auto;
    } 
    
    .work-4{
        text-align: left;
        margin: 0 auto;
    } 
    .rec-dark-4{
        background-color: var(--main-blue);
        height: 29%;
        width: 90%;
        position: absolute; 
        top: 1925px;
        left: 5%;
        z-index: -1;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(36, 36, 36, 0.288);
        -moz-box-shadow: 0px 5px 20px 0px rgba(36, 36, 36, 0.288);;
        box-shadow: 0px 5px 20px 0px rgba(36, 36, 36, 0.288);;
    }
    
    .rec-light-4{
        background-color: var(--sec-blue);
        height: 35%;
        width: 100%;
        position: absolute;
        top: 1900px;
        left: 0;
        z-index: -2; 
    }
    /* BACKGROUND LINES */
    
    /* FOOTER */
    footer{
        position: absolute;
        bottom: -190%;
        width: 100%;
        align-content: center;
    }

    footer > p{
        display: none;
    }
    
    .social{
        position: absolute;
        margin: 0 auto;
        left: 25%;
    }
    
    .social > a{
        margin-right: 60px;
    }
    
    footer > p, .social > a {
        font-weight: 500;
    }

    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 600;
        color: var(--main-black);
    }
    
    h2{
        font-family: Avenir-Med, sans-serif;
        font-size: 30px;
        color: var(--main-black);
    }
    
    h3{
        font-family: Avenir-Med, sans-serif;
        font-size: 15px;
        color: var(--main-black);
    }
    
    h4{
      font-family: Avenir, sans-serif;
      font-size: 12px;
      color: var(--main-black);  
    }
    
    p{
        font-size: 17px;
        color: var(--main-gray);
    }
    
    a{
        font-size: 17px;
        color: var(--main-black);
        text-decoration: none;
    } 


}