.header{
    height: 640px;
}

#head, #demo, #pp, #breakdown, #probs, #sketches, #key{
    width: 100%;
}

html h1, html h2, html p, html li{
    font-family: Baskerville;
}

html p, html li{
    font-size: 20px;
    padding: 0em 8em;
}

#roles{
    list-style-position: inside;
}

#dem{
    text-align: center;
}

#d1, #d2{
    width: 55vh;
    height: 35vh;
}

#d1{
    float: left;
}

#d2{
    float: right;
}

#ds{
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
}

#sketch{
    padding-top: 5%;
}

#redesign{
    padding-top: 5%;
}

#r1, #r2, #r3, #r4{
    width: 50vh;
    height: 40vh;
}

.r1{
    padding-top: 5%;
}

.column{
    padding-top: 5%;
    text-align: center;
}

#rend1{
    width: 40vh;
    height: 55vh;
}
#rendering{
    padding-top: 5%;
    text-align: center;
}

#final{
    padding-top: 3%;
}

.footer{
    overflow: hidden;
    width: 100%;
    height: 15vh;
    padding-top: 10px;
}

.linkedin{
    width: 50%;
    overflow: hidden;

}

.ig{
    width: 50%;
    float: left;
}

#insta{
    display:block;
    margin: auto;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 5px;
}

#linkin{
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 5px;
}