
@font-face{
    font-family: Avenir;
    src: url(avenir/AvenirLTStd-Book.otf);
}

@font-face{
    font-family: Avenir-Med;
    src: url(avenir/AvenirLTStd-Roman.otf);
}

@font-face{
    font-family: Avenir-Bold;
    src: url(avenir/AvenirLTStd-Black.otf);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
}

:root{
    --main-black: #2E2E2E;
    --main-blue: #0697F2;
    --sec-blue: #BFE6FF;
    --main-gray: #C1C1C1;
    --sec-gray: #F7F7F7;
}

html{
    font-family: Avenir, sans-serif;

}

html, body{
    width: 100%;
    height: 100%;
}
h1{
    font-family: Avenir-Bold;
    font-size: 40px;
    margin-bottom: 15px;
}

h2{
    font-family: Avenir-Med;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

h3{
    padding: 0 10%;
    font-family: Avenir;
    font-size: 18px;
    margin-bottom: 50px;
}
p{
    font-size: 17px;
    color: var(--main-gray);
}

a{
    font-size: 17px;
    color: var(--main-black);
    text-decoration: none;
}

.blue-text{
    color: var(--main-blue);
}

.header{
    margin-top: 5%;
}
/*  NAV*/
nav{
    position: fixed;
    top: 50px;
    left: 5%;
    line-height: 50px;
    width: 100%;
}

nav a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--main-black);
}

.right-nav{
    position: fixed;
    right: 5%;
    top: 50px;
}

.right-nav a:first-child{
    font-family: 'Montserrat-Bold';
    color: var(--main-blue);
    margin-right: 60px;
}

.content-wrapper{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10%;
}

img{
    width: 100%;
    margin-bottom: 50px;
}

#roles{
    text-align: center;
}

.space{
    display: flex;
    margin-bottom: 50px;
}

.renderings, #rdimages{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#rend1{
    width: 25%;
    height: 25%;
}

#r1{
    width: 45%;
    height: 45%;
}

.info{
    display: flex;
}













footer{
    position: fixed;
    bottom: 50px;
    right: 5%;
}

.social{
    position: fixed;
    left: 5%;
}

.social > a{
    margin-right: 60px;
}

footer > p, .social > a {
    font-weight: 500;
}