
@font-face{
    font-family: Avenir;
    src: url(avenir/AvenirLTStd-Book.otf);
}

@font-face{
    font-family: Avenir-Med;
    src: url(avenir/AvenirLTStd-Roman.otf);
}

@font-face{
    font-family: Avenir-Bold;
    src: url(avenir/AvenirLTStd-Black.otf);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
}

:root{
    --main-black: #2E2E2E;
    --main-blue: #0697F2;
    --sec-blue: #BFE6FF;
    --main-gray: #C1C1C1;
    --sec-gray: #F7F7F7;
}

html{
    font-family: Avenir, sans-serif;

}

html, body{
    width: 100%;
    height: 100%;
}
h1{
    margin-left: 10%;
    font-family: Avenir-Bold;
    font-size: 40px;
    margin-bottom: 15px;
}

h2{
    margin-left: 10%;
    font-family: Avenir-Med;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

h3{
    padding: 0 10%;
    font-family: Avenir;
    font-weight: 200;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 50px;
}
p{
    font-size: 17px;
    color: var(--main-gray);
}

a{
    font-size: 17px;
    color: var(--main-black);
    text-decoration: none;
}

.blue-text{
    color: var(--main-blue);
}

/*  NAV*/
nav{
    position: absolute;
    top: 25px;
    /* left: 5%; */
    line-height: 50px;
    width: 100%;
}

.name{
    margin-left: 5%;
}

nav a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--main-black);
}

.right-nav{
    position: absolute;
    right: 5%;
    top: 5px;
}

.right-nav a:first-child{
    font-family: 'Montserrat';
    color: var(--main-blue);
    margin-right: 60px;
}

#menu{
    display: flex;
    width: 100%;
    /* height: 80%; */
    height: 0;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

#menu .items{
    margin-bottom: 10%;
    /* margin: 2%; */
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
}

/* FOOTER */
footer{
    position: fixed;
    bottom: 50px;
    right: 5%;
}

.social{
    position: fixed;
    left: 5%;
}

.social > a{
    margin-right: 60px;
}

footer > p, .social > a {
    font-weight: 500;
}

/*CONTENT*/


.top-banner{
    /* width: 100%; */
    width: 100%;
    /* margin-top: 5%; */
}
.banner-top{
    /* width: vw; */
    max-width: 100%;
}

.content-wrapper{
    width: 60%;
    margin: 0 auto;
    margin-bottom:10%;
}

#roles{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.process-banner{
    width: 800px;
    height: 450px;
}

.personas{
    width: 100%;
    margin-bottom: 5%;
}

.moscow{
    width: 100%;
    margin-bottom: 10%;
}

.card-flow{
    width: 100%;
    margin-bottom: 10%;
}

.task-flow{
    width: 80%;
    margin-bottom: 10%;
}

.sketches{
    width: 35%;
    height: 35%;

}
.sketch-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.wires{
    width: 100%;
    margin-bottom: 5%;
}

.tests{
    width: 75%;
    margin-bottom: 10%;
}

#test-2{
    margin-left: 15%;
}

.final{
    width: 100%;
    margin-bottom: 5%;
}

#top{
    margin-top: 5%;
}

.pp{
    width: 100vw;
    margin: 3% 0;
    max-width: 95%;
}

.ppf{
    width: 100vw;
    max-width: 95%;
}

.l{
    margin-left: 5%;
}

.r{
    margin-right: 5%;
}

.pp-wrapper{
    margin-top: -8%;
    margin-bottom: 8%;
}

.validation{
    width: 100%;
    margin-bottom: 10%;
}

.vid-wrapper{
    display: flex;
    justify-content: center;
}

.demo{
    display: block;
    margin-bottom:10%;
    margin-top: 5%;
    width: 90%;
}





/*RESPONSIVE*/

@media only screen and (max-width: 500px){

    body, html{
        margin: 0;
        padding: 0;
        /* width: 100%; */
        /* height: 100%; */
        /* overflow-x: hidden; */
    }

    nav{
        visibility: hidden;
    }

    .mobile-nav{
        margin-bottom: 10%;
    }
    #hamburger{
        position: absolute;
        right: 5%;
        top: 3%;
    }

    #top-name{
            position: absolute;
            top: 4%;
            left: 5%;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            color: var(--main-black);
        }

    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        background-color: rgb(19, 19, 19);
        margin: 6px 0;
        transition: 0.4s;
      }
      
      /* Rotate first bar */
       .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 2px) ;
        transform: rotate(-45deg) translate(-5px, 2px) ;
      } 
      
      /* Fade out the second bar */
       .change .bar2 {
        opacity: 0;
      }
      
      /* Rotate last bar */
       .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-10px, -8px) ;
        transform: rotate(45deg) translate(-10px, -8px) ;
      }


      footer{
        display: none;
    }

    .mobile-footer{
        display: flex;
        flex-direction: row;
        margin-top: 20%;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }

    h1{
        margin-left: 10%;
        font-family: Avenir-Bold;
        font-size: 25px;
        margin-bottom: 15px;
    }
    
    h2{
        margin-left: 10%;
        font-family: Avenir-Med;
        font-size: 20px;
        font-weight: 300;
        margin-top: 10%;
    }
    
    h3{
        padding: 0 10%;
        font-family: Avenir;
        font-weight: 200;
        line-height: 25px;
        font-size: 15px;
        margin-bottom: 50px;
    }
    p{
        font-size: 13px;
        color: var(--main-gray);
    }

    .content-wrapper{
        width: 100%;
    }


    .process-banner{
        width: 100%;
        height: auto;
    }

    .validation{
        width: 90%;
    }

}